{% extends "YdleUserBundle::layout.html.twig" %}

{% block title '{{ "page.confirmed.title" | trans({}, "YdleUserBundle") }}' %}

{% block fos_user_content %}
<div class="row center-block">
    <div style="text-align:center;">
        <img src="{{ asset('bundles/ydleihm/images/ydleLogo.png') }}" />
    </div>
    <div class="center-block" style="text-align:center;">
        <p>{{ "registration.completed.title" | trans({}, "YdleUserBundle") }}<br/>
            <a href="{{ path('fos_user_security_login') }}">{{ "login.title" | trans({}, "YdleUserBundle") }}</a>
        </p>
    <a href="">
    </div>
</div>
{% endblock fos_user_content %}
